.listado-productos {
    background-color: #f3f3f3;
}
.contenedor {
    max-width: 1200px;
    width: 95%;
    padding: 5rem 0;
    margin: 0 auto;
}
.bg-white {
    background-color: #FFF;
    box-shadow: 10px 5px 5px rgb(156, 154, 154);
    border-radius: 9px;
}